<!doctype html>
{% load static %}

<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <title>HOLMES.CREATIVE{{ page_title }}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
</head>
<body>

  <div id="nav">

      <a href="/"><img src="{% static 'img/logo.png' %}"/></a>
      <div id="site_desc">
      <h1 class="colr">HOLMES.CREATIVE</h1>
 	    <p>{% block description %}
      {% endblock %}</p></div>
      <div id="links">
      <a class="colr" href="/{{ link }}">{{ link_title }}</a>{{ after_link }}
      <br>
   	  <a class="colr" rel="next" href="{% static 'resume.pdf' %}">RESUME</a>
      <br>
      <a class="colr" href="mailto:holmespi90@gmail.com?Subject=Hello" target="_top">EMAIL</a>
      <p class="colr" >(919)624-0237</p>
      </div>
  </div>
  
  

{% block content %}
{% endblock %}
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-46112704-1', 'co.nf');
    ga('send', 'pageview');

    $(document).ready(function() {
    $('.colr').hover(function() {
        var hue = 'rgb('
            + (Math.floor(Math.random() * 256)) + ','
            + (Math.floor(Math.random() * 256)) + ','
            + (Math.floor(Math.random() * 256)) + ')';
       $(this).stop().animate( { color: hue }, 300);
    },function() {
       $(this).stop().animate( { color: '#2a609e' }, 300);
    });
});
  
  </script>

</body>

</html>
